{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    "**/*.js",
    "dist/**"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "Function": false
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": [
      "warn",
      {
        "allowArgumentsExplicitlyTypedAsAny": true
      }
    ],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-this-alias": "off",
    "@typescript-eslint/no-unsafe-assignment": "off",
    "@typescript-eslint/no-unsafe-call": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true,
        "vars": "all"
      }
    ],
    "@typescript-eslint/quotes": [
      "warn",
      "single"
    ],
    "@typescript-eslint/semi": [
      "warn",
      "never"
    ],
    "array-bracket-spacing": [
      "warn",
      "never"
    ],
    "arrow-spacing": "warn",
    "comma-dangle": [
      "warn",
      {
        "arrays": "always-multiline",
        "exports": "always-multiline",
        "functions": "only-multiline",
        "imports": "always-multiline",
        "objects": "always-multiline"
      }
    ],
    "comma-spacing": [
      "warn",
      {
        "after": true,
        "before": false
      }
    ],
    "eol-last": [
      "warn",
      "never"
    ],
    "for-direction": "off",
    "function-call-argument-newline": [
      "warn",
      "consistent"
    ],
    "array-element-newline": [
      "warn",
      "consistent"
    ],
    "indent": [
      "warn",
      2
    ],
    "no-case-declarations": "off",
    "no-console": [
      "warn"
    ],
    "no-constant-condition": [
      "warn"
    ],
    "no-inner-declarations": "off",
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 2,
        "maxEOF": 0
      }
    ],
    "object-curly-newline": [
      "warn",
      {
        "ExportDeclaration": {
          "minProperties": 4,
          "multiline": true
        },
        "ImportDeclaration": "never",
        "ObjectExpression": {
          "multiline": true
        },
        "ObjectPattern": {
          "multiline": true
        }
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "padding-line-between-statements": [
      "warn",
      {
        "blankLine": "never",
        "next": "import",
        "prev": "import"
      }
    ],
    "space-before-function-paren": [
      "warn",
      {
        "anonymous": "always",
        "asyncArrow": "always",
        "named": "never"
      }
    ]
  }
}