---
---

@import "{{ site.theme }}";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ac4142;
  color: #ffffff;

  a, ul a {
    color: #2fa3f1;
  }

  div.places {
    display: flex;
    justify-content: flex-end;

    a img {
      max-width: 32px;
    }
  }

  nav {
    display: flex;
    background-color: #ac4142;

    ul {
      list-style: none;
      height: unset;
      padding: unset;
      background: unset;
      border-radius: unset;
      border: unset;
      width: unset;

      li {
        width: unset;
        float: unset;
        border-right: unset;
        height: unset;

        a, a:active, a:hover {
          font-size: unset;
          color: unset;
          background-color: unset;

          &.active {
            text-decoration: underline;
            font-weight: bold;
          }
        }
      }
    }
  }

}

footer {  
  padding: 8px;
  bottom: 0px;

  p {
    margin: 0;
    text-align: right;
  }
  
  a {
    color: #2fa3f1;
  }
}

@media print, screen and (min-width: 961px) {
  div.wrapper {
    margin: 0;
    width: auto;
  }

  header {
    height: 100%;
    padding: 8px;
    box-shadow: 2px 0 5px 0 #00000029, 2px 0 10px 0 #0000001f;
    
    #menu, #hamburger {
      display: none;
    }
    
    h1 {
      margin-bottom: 0px;
    }
  }
  
  section {
    max-width: calc(100% - 270px);
    width: 100%;
    padding: 24px;
  }
  
  footer {
    color: #ffffff;
  }
}

@media print, screen and (max-width: 960px) {
  section {
    padding: 24px;
    margin: 0;
  }
  
  header {
    display: flex;
    padding: 8px;
    box-shadow: 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f;
    max-height: 128px;
    
    h1 {
      margin: 8px;
      
      img {
        max-height: 100%;
      }
    }
    
    #menu, #hamburger {
      display: block;
      width: 42px;
      height: 42px;
      position: fixed;
      bottom: 0;
      right: 0;
      cursor: pointer;
      margin: 8px;
    }
    
    #hamburger {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #ac4142;
      border: 5px solid #ac4142;
      border-radius: 50%;
      z-index: 1;
    }
    
    #menu {
      opacity: 0;
      z-index: 2;
      
      &:not(checked) ~ #hamburger {
        background-image: url(/wollok-ts/assets/images/hamburger.svg);
      }
      
      &:checked ~ #hamburger {
        background-image: url(/wollok-ts/assets/images/close.svg);
      }
      
      &:checked ~ nav {
        transform: none;
      }
    }
    
    .places {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      
      a {
        line-height: 10px;
      }
    }
    
  }
  
  nav {
    height: 100vh;
    width: 270px;
    padding: 8px;
    position: fixed;
    right: 0;
    top: 0;
    box-shadow: 2px 0 5px 0 #00000029, 2px 0 10px 0 #0000001f;
    
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    
    ul {
      position: unset;
    }
  }
}
